
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');


$tipografia-titulos:"Mulish", sans-serif;
$tipografia-subtitulos:"Forum", serif;
$tipografia-texto:"Overpass", sans-serif;
$fondo:rgb(214, 207, 203);
$color-mamut:rgba(111, 28, 27, 0.836)

