@use "variables" as *;
@use "header-footer" as *;

*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

body{
    font-family: $tipografia-texto;
    background-color:$fondo ;
}
.inti{
    img{
        width:20%;
        margin-left: 40%;
        
    }
   
}
.productos{
    h1{
        border-top-style:solid;
        margin-top: 20px;
        font-weight: bold;
        font-family: $tipografia-titulos;
    }
    h2{
        font-family: $tipografia-subtitulos;
    }
    .tarjetas{
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        margin-bottom: 20px;
    }
}